.profile-pic {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    border: 5px solid transparent;
    border-radius: 50%;
    transform: scale(1.1); /* Agrandamos la imagen en un 20% */
  }

  #fileInput{
    display: none;
  }