/* BASE JUEGO*/
.game-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  #carta-mesa{
    max-width: 200px; 
    margin-right: 30px;
    transition: transform 0.2s ease;
  }

  #carta-mesa:active{
    transform: scale(1.05);
  }

  #cartas-mesa{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #botones-partida{
    color: white;
  }

  /* TODOS */
  button {
    transform-origin: center center;
  }

  button:focus {
    outline: none;
  }

  button:active {
    transform: scale(0.9);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }